In [144]:
import re
import os
import json
import pandas as pd
import numpy as np
from dateutil.parser import *
from dateutil.tz import *
from datetime import *
import sys
import inflect
p = inflect.engine()

from pandas.core import indexing

trade_2 = "1 mio TSKBTI 0% 01/23/25 $    XS2100270508"
curr_trade_split = trade_2.split(" ")
curr_trade_split

fract_dict = ["½", "⅓", "¼", "⅕", "⅙", "⅐", "⅛", "⅑", "⅔", "⅖", "²⁄₇", "²⁄₉"]


os.chdir("/home/jovyan/work")
ticker_df = pd.read_excel ("ticker_data.xls", sheet_name='Stock')

In [68]:
def find_currency(currency_str):
    if any(x in currency_str for x in ["$", "usd"]):
        return "dollar"
    elif any(x in currency_str for x in ["€", "euro", "eur"]):
        return "euro"
    elif any(x in currency_str for x in ["¥", "yen", "eur"]):
        return "yen"
    else:
        return False
    
def find_date(date_str):

    date_regex = "^(0[1-9]|1[012])/(0[1-9]|[12][0-9]|3[01])/\d\d"
    date = re.match(date_regex, date_str, re.IGNORECASE)
    if date:
        date_clean = date.group(0)
        date_parse = parse(date_clean)
        return date_parse.strftime("%Y-%m-%d")

    return False

def find_interest(token):
    if token.replace('.','',1).replace('%','',1).isdigit() or token in fract_dict:
        return token
    return False

In [69]:
date_str = ""
currency_str = ""
interest_str=""

for token in curr_trade_split:
        
        if find_interest(token):
            interest_str = interest_str + " " + str(token)

interest_str.replace('%','',1)

' 1 0'

In [80]:
import ast
str_of_dict = "{'key1': 'key1value', 'key2': 'key2value'}"
import pprint

# Prints the nicely formatted dictionary
pprint.pprint(str_of_dict)

"{'key1': 'key1value', 'key2': 'key2value'}"

In [94]:
import unicodedata
unicodedata.numeric('6')

6.0

In [125]:
0 is not False

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-125-4f6bfde813f7>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  0 is not False

True

In [126]:
token=0

if token is not False:
    print("yay")

yay

In [163]:
import string
token="NESN"



ticker_df["Ticker_clean"]=[''.join(c for c in s if c not in string.punctuation) for s in ticker_df["Ticker"]]
ticker_df["Ticker_clean"]

0          OEDV
1          AAPL
2           BAC
3          AMZN
4             T
          ...
65527     OLEMC
65528     4F1BE
65529     ESFBE
65530      RWWF
65531    RLIDMC
Name: Ticker_clean, Length: 65532, dtype: object

In [192]:
from dateutil.parser import parse
string="11:45:18"
parse(string, fuzzy=True,).strftime("%Y-%m-%d")

'2021-04-10'

In [195]:
string="11/12/22"

if re.match('\d{2}:\d{2}:\d{2}', string):
    print("yes")

In [229]:
from fuzzywuzzy import fuzz
Str1 = "TSKBTI"
Str2 = "TSKBIS"
Ratio = fuzz.ratio(Str1.lower(),Str2.lower())
print(Ratio)

83

In [231]:
max([1])

1

In [294]:
from pandas import DataFrame

token = "TSKBTI"
dist=[]

dists=[fuzz.ratio(token.lower(),x.lower()) for x in ticker_df["Ticker_clean"]]
ticker_row = ticker_df.iloc[dists.index(max(dists))].to_frame().transpose()
ticker_row = ticker_df[ticker_df["Ticker_clean"].str.contains(token.replace('.',''), flags=re.IGNORECASE, regex=True)]
ticker_row

ticker_row.shape[0]

0

In [297]:
token[:3]

'TSK'

In [296]:
ticker_df[ticker_df['Ticker_clean'].str.startswith(token[:3])]

,Ticker,Name,Exchange,Category Name,Country,Ticker_clean
14276,TSKB.IS,Turkiye Sinai Kalkinma Bankasi A.S.,IST,NaN,Turkey,TSKBIS

In [298]:
[x for x in ticker_df["Ticker_clean"] if x.startswith(token[:3])]

['TSKBIS']

In [321]:
ticker_list = ticker_df[ticker_df['Ticker_clean'].str.startswith(token[:3])]
dists=[fuzz.ratio(token.lower(), x.lower()) for x in ticker_list['Ticker_clean']]
ticker_row = ticker_list.iloc[dists.index(max(dists))].to_frame().transpose()
match = str(max(dists)) + "%"

In [327]:
len([])

0