In [1]:
import pandas as pd
import numpy as np
import math

import matplotlib.pyplot as plt
import matplotlib


pd.set_option('display.max_rows', 1000000)
pd.set_option('display.max_columns', 1000000)

## Things to be prepared:
1. month, season, circular month
2. amount spent on previous shopping week
3. amount spent on previous week in time (might be 0)
4. number of weeks since last shopping
5. number of days since last shopping
6. average spent weekly on previous weeks (only weeks existent in data)
    * stats for 6
7. average spent weekly on previous weeks (with actual week count)
    * stats for 7
8. weighted mean of previous week spendings
9. average visits per week
10. average visits per month
11. (LOW PRIORITY) proportion of shopping on weekdays on previous weeks
12. (LOW PRIORITY) proportion of shopping at different times of day on previous weeks
13. demographics

#. clustered demographics

In [130]:
df_transactions = pd.read_csv('dunnhumby-the-complete-journey/transaction_data.csv')
print('number of all transactions: ' +str(df_transactions.shape[0]))
df_transactions.head()

number of all transactions: 2595732

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0

In [15]:
# Summing individual transactions to have total basket value
transactions_weekly_aggregated = df_transactions.groupby(["household_key", "WEEK_NO"])[["SALES_VALUE",'QUANTITY']].sum().reset_index()
transactions_weekly_aggregated = transactions_weekly_aggregated.sort_values(by=['household_key','WEEK_NO']).reset_index().drop('index', axis=1)

print(transactions_weekly_aggregated.shape)
transactions_weekly_aggregated.head(10)

(121091, 4)

   household_key  WEEK_NO  SALES_VALUE  QUANTITY
0              1        8        78.66        34
1              1       10        41.10        14
2              1       13        26.90        13
3              1       14        63.43        32
4              1       15        53.45        20
5              1       16        26.76        11
6              1       17        23.55        12
7              1       19       110.34        43
8              1       20        87.44        43
9              1       22        73.32        32

In [3]:
# filter out the fuel transactions

df_product = pd.read_csv('dunnhumby-the-complete-journey/product.csv')
gas_product_ids = df_product[df_product['SUB_COMMODITY_DESC'] == "GASOLINE-REG UNLEADED"]['PRODUCT_ID'].tolist()

fuel_transactions = df_transactions[df_transactions['PRODUCT_ID'].isin(gas_product_ids)]
print('number of fuel transaction: ' +str(fuel_transactions.shape[0]))

fuel_basket_ids = fuel_transactions['BASKET_ID'].unique()
print('number of baskets that have fuel in it: ' +str(len(fuel_basket_ids)))

df_transactions = df_transactions[~(df_transactions['BASKET_ID'].isin(fuel_basket_ids))]
print('number of transactions (excluding fuel): ' +str(df_transactions.shape[0]))

number of fuel transaction: 24962
number of baskets that have fuel in it: 24952
number of transactions (excluding fuel): 2569579

In [8]:
households = df_transactions['household_key'].sort_values().unique()
max_week = df_transactions['WEEK_NO'].max()

big_df = pd.DataFrame()

for key in households:
    df = pd.DataFrame()
    df['WEEK_NO'] = np.arange(1,max_week+1)
    df['household_key'] = key
    
    big_df = pd.concat([big_df,df])

print(big_df.shape)
big_df.head()

(255000, 2)

In [16]:
every_week_every_household = big_df.merge(transactions_weekly_aggregated, on=['WEEK_NO','household_key'], how='left')
every_week_every_household = every_week_every_household.fillna(0)

print(every_week_every_household.shape)
every_week_every_household.head()

(255000, 4)

   WEEK_NO  household_key  SALES_VALUE  QUANTITY
0        1              1          0.0       0.0
1        2              1          0.0       0.0
2        3              1          0.0       0.0
3        4              1          0.0       0.0
4        5              1          0.0       0.0

In [17]:
day_week_lookup = df_transactions[['DAY','WEEK_NO']].drop_duplicates().reset_index().drop('index',axis=1)
print(day_week_lookup.shape)
day_week_lookup.head(10)

(711, 2)

   DAY  WEEK_NO
0    1        1
1    2        1
2    3        1
3    4        1
4    5        1
5    6        2
6    7        2
7    8        2
8    9        2
9   10        2

In [18]:
week_month_lookup = day_week_lookup.copy()
week_month_lookup['month_num'] = week_month_lookup['DAY'].apply(add_month_nums)
week_month_lookup.drop('DAY', axis=1, inplace=True)
week_month_lookup.drop_duplicates(subset=['WEEK_NO'], keep="last", inplace=True)

print(week_month_lookup.shape)
week_month_lookup.head(10)

(102, 2)

    WEEK_NO  month_num
4         1          2
11        2          3
18        3          3
25        4          3
32        5          3
39        6          4
46        7          4
53        8          4
60        9          4
67       10          4

## 1. month, season, circular month

In [19]:
## you need the function at the end of the notebook for this

df_transactions['month'] = df_transactions['DAY'].apply(add_month_names)
df_transactions['month_num'] = df_transactions['DAY'].apply(add_month_nums)

df_transactions['season'] = df_transactions['month'].apply(get_season)

In [20]:
month_season_lookup_table = df_transactions[['WEEK_NO','month','month_num','season']].drop_duplicates().reset_index().drop('index', axis=1)
month_season_lookup_table = month_season_lookup_table.drop_duplicates(subset='WEEK_NO', keep="first").reset_index().drop('index', axis=1)

# dealing with circular features
month_season_lookup_table['month_24']= month_season_lookup_table['month_num']*2
month_season_lookup_table['month_x'], month_season_lookup_table['month_y']= zip(*month_season_lookup_table['month_24'].apply(getxy))


month_season_lookup_table.drop(['month_24','month_num'], axis=1, inplace=True)


print(month_season_lookup_table.shape)
month_season_lookup_table

(102, 5)

     WEEK_NO      month  season   month_x   month_y
0          1   February  winter  0.866223 -0.499658
1          2   February  winter  0.866223 -0.499658
2          3      March  spring  1.000000  0.000296
3          4      March  spring  1.000000  0.000296
4          5      March  spring  1.000000  0.000296
5          6      March  spring  1.000000  0.000296
6          7      April  spring  0.865927  0.500171
7          8      April  spring  0.865927  0.500171
8          9      April  spring  0.865927  0.500171
9         10      April  spring  0.865927  0.500171
10        11      April  spring  0.865927  0.500171
11        12        May  spring  0.499914  0.866075
12        13        May  spring  0.499914  0.866075
13        14        May  spring  0.499914  0.866075
14        15        May  spring  0.499914  0.866075
15        16       June  summer  0.000000  1.000000
16        17       June  summer  0.000000  1.000000
17        18       June  summer  0.000000  1.000000
18        19       June  summer  0.000000  1.000000
19        20       July  summer -0.499914  0.866075
20        21       July  summer -0.499914  0.866075
21        22       July  summer -0.499914  0.866075
22        23       July  summer -0.499914  0.866075
23        24     August  summer -0.865927  0.500171
24        25     August  summer -0.865927  0.500171
25        26     August  summer -0.865927  0.500171
26        27     August  summer -0.865927  0.500171
27        28     August  summer -0.865927  0.500171
28        29  September    fall -1.000000  0.000296
29        30  September    fall -1.000000  0.000296
30        31  September    fall -1.000000  0.000296
31        32  September    fall -1.000000  0.000296
32        33    October    fall -0.866223 -0.499658
33        35    October    fall -0.866223 -0.499658
34        34    October    fall -0.866223 -0.499658
35        36    October    fall -0.866223 -0.499658
36        37   November    fall -0.500428 -0.865778
37        38   November    fall -0.500428 -0.865778
38        39   November    fall -0.500428 -0.865778
39        40   November    fall -0.500428 -0.865778
40        41   November    fall -0.500428 -0.865778
41        42   December  winter -0.000593 -1.000000
42        43   December  winter -0.000593 -1.000000
43        44   December  winter -0.000593 -1.000000
44        45   December  winter -0.000593 -1.000000
45        46    January  winter  0.500428 -0.865778
46        47    January  winter  0.500428 -0.865778
47        48    January  winter  0.500428 -0.865778
48        49    January  winter  0.500428 -0.865778
49        50   February  winter  0.866223 -0.499658
50        51   February  winter  0.866223 -0.499658
51        52      March  spring  1.000000  0.000296
52        53      March  spring  1.000000  0.000296
53        54      March  spring  1.000000  0.000296
54        55      March  spring  1.000000  0.000296
55        56      April  spring  0.865927  0.500171
56        57      April  spring  0.865927  0.500171
57        58      April  spring  0.865927  0.500171
58        59      April  spring  0.865927  0.500171
59        60        May  spring  0.499914  0.866075
60        61        May  spring  0.499914  0.866075
61        62        May  spring  0.499914  0.866075
62        63        May  spring  0.499914  0.866075
63        64       June  summer  0.000000  1.000000
64        65       June  summer  0.000000  1.000000
65        66       June  summer  0.000000  1.000000
66        67       June  summer  0.000000  1.000000
67        68       June  summer  0.000000  1.000000
68        69       July  summer -0.499914  0.866075
69        70       July  summer -0.499914  0.866075
70        71       July  summer -0.499914  0.866075
71        72       July  summer -0.499914  0.866075
72        73     August  summer -0.865927  0.500171
73        74     August  summer -0.865927  0.500171
74        75     August  summer -0.865927  0.500171
75        76     August  summer -0.865927  0.500171
76        77  September    fall -1.000000  0.000296
77        78  September    fall -1.000000  0.000296
78        79  September    fall -1.000000  0.000296
79        80  September    fall -1.000000  0.000296
80        81  September    fall -1.000000  0.000296
81        82    October    fall -0.866223 -0.499658
82        83    October    fall -0.866223 -0.499658
83        84    October    fall -0.866223 -0.499658
84        85    October    fall -0.866223 -0.499658
85        86   November    fall -0.500428 -0.865778
86        87   November    fall -0.500428 -0.865778
87        88   November    fall -0.500428 -0.865778
88        89   November    fall -0.500428 -0.865778
89        90   December  winter -0.000593 -1.000000
90        91   December  winter -0.000593 -1.000000
91        92   December  winter -0.000593 -1.000000
92        93   December  winter -0.000593 -1.000000
93        94    January  winter  0.500428 -0.865778
94        95    January  winter  0.500428 -0.865778
95        96    January  winter  0.500428 -0.865778
96        97    January  winter  0.500428 -0.865778
97        98    January  winter  0.500428 -0.865778
98        99   February  winter  0.866223 -0.499658
99       100      March  spring  1.000000  0.000296
100      101      March  spring  1.000000  0.000296
101      102      March  spring  1.000000  0.000296

In [21]:
# training_data = training_data.merge(month_season_lookup_table, on='WEEK_NO', how='left')

## 2. amount spent on previous shopping week

In [23]:
transactions_weekly_aggregated_prev = transactions_weekly_aggregated.copy()
transactions_weekly_aggregated_prev['previous_amount_spent'] = transactions_weekly_aggregated_prev.sort_values('WEEK_NO').groupby('household_key')['SALES_VALUE'].shift(1)
transactions_weekly_aggregated_prev = transactions_weekly_aggregated_prev.drop('SALES_VALUE', axis=1)

transactions_weekly_aggregated_prev['previous_quantity'] = transactions_weekly_aggregated_prev.sort_values('WEEK_NO').groupby('household_key')['QUANTITY'].shift(1)
transactions_weekly_aggregated_prev = transactions_weekly_aggregated_prev.drop('QUANTITY', axis=1)
print(transactions_weekly_aggregated_prev.shape)
transactions_weekly_aggregated_prev.head()

(121091, 4)

   household_key  WEEK_NO  previous_amount_spent  previous_quantity
0              1        8                    NaN                NaN
1              1       10                  78.66               34.0
2              1       13                  41.10               14.0
3              1       14                  26.90               13.0
4              1       15                  63.43               32.0

In [24]:
# training_data = training_data.merge(transactions_weekly_aggregated_prev, on=['household_key','WEEK_NO'], how='left')

## 3. amount spent on previous week in time (might be 0)

In [124]:
households = df_transactions['household_key'].sort_values().unique()

big_df = pd.DataFrame()

for key in households:
    df = pd.DataFrame()
    df['WEEK_NO'] = np.arange(1,103)
    df['household_key'] = key
    
    big_df = pd.concat([big_df,df])

print(big_df.shape)
big_df = big_df.merge(transactions_weekly_aggregated, on=['household_key','WEEK_NO'], how='left')
print(big_df.shape)

big_df = big_df.fillna(0)
big_df = big_df.sort_values(by=['household_key','WEEK_NO']).reset_index().drop('index', axis=1)
big_df.head(10)

(255000, 2)
(255000, 4)

   WEEK_NO  household_key  SALES_VALUE  QUANTITY
0        1              1         0.00       0.0
1        2              1         0.00       0.0
2        3              1         0.00       0.0
3        4              1         0.00       0.0
4        5              1         0.00       0.0
5        6              1         0.00       0.0
6        7              1         0.00       0.0
7        8              1        78.66      34.0
8        9              1         0.00       0.0
9       10              1        41.10      14.0

In [125]:
big_df_aggregated = big_df.copy()
big_df_aggregated['amount_spent_last_week'] = big_df_aggregated.sort_values('WEEK_NO').groupby('household_key')['SALES_VALUE'].shift(1)
big_df_aggregated = big_df_aggregated.drop('SALES_VALUE', axis=1)

big_df_aggregated['quantity_bought_last_week'] = big_df_aggregated.sort_values('WEEK_NO').groupby('household_key')['QUANTITY'].shift(1)
big_df_aggregated = big_df_aggregated.drop('QUANTITY', axis=1)

print(big_df_aggregated.shape)
big_df_aggregated.head()

(255000, 4)

   WEEK_NO  household_key  amount_spent_last_week  quantity_bought_last_week
0        1              1                     NaN                        NaN
1        2              1                     0.0                        0.0
2        3              1                     0.0                        0.0
3        4              1                     0.0                        0.0
4        5              1                     0.0                        0.0

In [27]:
# training_data = training_data.merge(big_df_aggregated, on=['household_key','WEEK_NO'], how='left')

# training_data.shape

## 4. number of weeks since last shopping

In [120]:
transactions_prev_visit = transactions_weekly_aggregated.copy()
transactions_prev_visit['last_shopping_week'] = transactions_prev_visit.groupby('household_key')['WEEK_NO'].shift(1)
transactions_prev_visit['weeks_since_last_shopping'] = transactions_prev_visit['WEEK_NO']-transactions_prev_visit['last_shopping_week']

transactions_prev_visit = transactions_prev_visit.drop('SALES_VALUE', axis=1)
transactions_prev_visit = transactions_prev_visit.drop('QUANTITY', axis=1)

In [121]:
transactions_prev_visit.head()

   household_key  WEEK_NO  last_shopping_week  weeks_since_last_shopping
0              1        8                 NaN                        NaN
1              1       10                 8.0                        2.0
2              1       13                10.0                        3.0
3              1       14                13.0                        1.0
4              1       15                14.0                        1.0

In [30]:
# training_data = training_data.merge(transactions_prev_visit, on=['household_key','WEEK_NO'], how='left')

# training_data.shape

## 5. number of days since last shopping

In [31]:
previous_visit_day = df_transactions[['household_key','DAY']].drop_duplicates().sort_values(['household_key','DAY'])
previous_visit_day['last_shopping_day'] = previous_visit_day.groupby('household_key')['DAY'].shift(1)
previous_visit_day['days_since_last_shopping'] = previous_visit_day['DAY']-previous_visit_day['last_shopping_day']
previous_visit_day = previous_visit_day.merge(day_week_lookup, on='DAY', how='left')

print(previous_visit_day.shape)
previous_visit_day.head(10)

(212785, 5)

   household_key  DAY  last_shopping_day  days_since_last_shopping  WEEK_NO
0              1   51                NaN                       NaN        8
1              1   67               51.0                      16.0       10
2              1   88               67.0                      21.0       13
3              1   94               88.0                       6.0       14
4              1  101               94.0                       7.0       15
5              1  108              101.0                       7.0       16
6              1  111              108.0                       3.0       17
7              1  128              111.0                      17.0       19
8              1  137              128.0                       9.0       20
9              1  146              137.0                       9.0       22

In [32]:
# this data is indexed on DAY but our overall dataset is on week level
# So I get 1 value per week (the higher one)

previous_visit_day = previous_visit_day.sort_values('days_since_last_shopping')
previous_visit_day = previous_visit_day.drop_duplicates(subset=['household_key','WEEK_NO'], keep="last")
print(previous_visit_day.shape)
previous_visit_day.head(10)

(121091, 5)

,household_key,DAY,last_shopping_day,days_since_last_shopping,WEEK_NO
58535,691,391,390.0,1.0,57
139565,1622,118,117.0,1.0,18
90427,1042,531,530.0,1.0,77
138764,1613,545,544.0,1.0,79
138956,1617,153,152.0,1.0,23
34264,401,392,391.0,1.0,57
58507,690,706,705.0,1.0,102
33694,396,366,365.0,1.0,53
140280,1631,447,446.0,1.0,65
140626,1633,706,705.0,1.0,102

In [33]:
# training_data = training_data.merge(previous_visit_day, on=['household_key','WEEK_NO'], how='left')

# training_data.shape

## 6. average spent weekly on previous weeks (only weeks existent in data)

In [95]:
transactions_with_time = transactions_weekly_aggregated.copy()
print(transactions_with_time.shape)
transactions_with_time.head()

(121091, 4)

   household_key  WEEK_NO  SALES_VALUE  QUANTITY
0              1        8        78.66        34
1              1       10        41.10        14
2              1       13        26.90        13
3              1       14        63.43        32
4              1       15        53.45        20

In [96]:
mean = transactions_with_time[['household_key','WEEK_NO','SALES_VALUE']]
mean = mean.sort_values(by='WEEK_NO').groupby('household_key').expanding().mean()
mean = mean.drop('household_key', axis=1).reset_index()
mean.index = mean['level_1']

mean = mean.join(transactions_with_time[['household_key','WEEK_NO']], lsuffix='_avg')
mean = mean.drop(['household_key_avg','level_1','WEEK_NO_avg'], axis=1).reset_index().drop('level_1', axis=1)
mean['avg_spending_previous_weeks'] = mean.groupby('household_key')['SALES_VALUE'].shift(1)
mean = mean.drop('SALES_VALUE', axis=1)
print(mean.shape)
mean.head(100)

(121091, 3)

    household_key  WEEK_NO  avg_spending_previous_weeks
0               1        8                          NaN
1               1       10                    78.660000
2               1       13                    59.880000
3               1       14                    48.886667
4               1       15                    52.522500
5               1       16                    52.708000
6               1       17                    48.383333
7               1       19                    44.835714
8               1       20                    53.023750
9               1       22                    56.847778
10              1       23                    58.495000
11              1       24                    58.107273
12              1       25                    60.541667
13              1       26                    58.875385
14              1       28                    58.777143
15              1       30                    59.826667
16              1       31                    58.773750
17              1       32                    57.054706
18              1       33                    55.192778
19              1       34                    58.806842
20              1       36                    58.006500
21              1       38                    59.075238
22              1       40                    59.700000
23              1       41                    62.020435
24              1       42                    60.589167
25              1       44                    61.116400
26              1       45                    60.631154
27              1       46                    61.195926
28              1       47                    59.521429
29              1       49                    59.580345
30              1       51                    61.509667
31              1       52                    61.744839
32              1       54                    62.864375
33              1       56                    63.708182
34              1       58                    62.069412
35              1       60                    62.816000
36              1       61                    63.548333
37              1       62                    64.069730
38              1       63                    63.681842
39              1       65                    65.584359
40              1       67                    65.689250
41              1       68                    65.765366
42              1       69                    66.086905
43              1       70                    65.171395
44              1       71                    64.422045
45              1       72                    65.139556
46              1       73                    63.938261
47              1       74                    63.426809
48              1       77                    62.911458
49              1       78                    62.164694
50              1       79                    62.853200
51              1       80                    61.786863
52              1       82                    62.515577
53              1       84                    62.996038
54              1       85                    62.267778
55              1       86                    62.145636
56              1       87                    63.425893
57              1       88                    62.418070
58              1       89                    62.285172
59              1       90                    62.606271
60              1       91                    61.698500
61              1       92                    61.635902
62              1       93                    61.744032
63              1       95                    61.423810
64              1       97                    61.873594
65              1       99                    62.138154
66              1      100                    62.993030
67              1      102                    63.415970
68              2       15                          NaN
69              2       17                    22.700000
70              2       18                    19.960000
71              2       21                    32.570000
72              2       22                    41.100000
73              2       23                    35.556000
74              2       24                    33.966667
75              2       25                    56.297143
76              2       26                    51.206250
77              2       27                    47.786667
78              2       28                    48.138000
79              2       30                    45.678182
80              2       32                    47.507500
81              2       35                    45.368462
82              2       36                    44.662143
83              2       38                    44.708000
84              2       42                    49.958125
85              2       46                    48.396471
86              2       49                    48.895556
87              2       50                    51.300526
88              2       60                    49.509500
89              2       61                    49.256667
90              2       62                    47.835455
91              2       67                    46.216087
92              2       69                    46.970000
93              2       70                    49.518800
94              2       71                    50.301154
95              2       78                    51.305185
96              2       83                    53.312857
97              2       84                    53.000000
98              2       85                    54.053000
99              2       88                    52.682581

In [97]:
std = transactions_with_time[['household_key','WEEK_NO','SALES_VALUE']]
std = std.sort_values(by='WEEK_NO').groupby('household_key').expanding().std()
std = std.drop('household_key', axis=1).reset_index()
std.index = std['level_1']

std = std.join(transactions_with_time[['household_key','WEEK_NO']], lsuffix='_avg')
std = std.drop(['household_key_avg','level_1','WEEK_NO_avg'], axis=1).reset_index().drop('level_1', axis=1)
std['std_spending_previous_weeks'] = std.groupby('household_key')['SALES_VALUE'].shift(1)
std = std.drop('SALES_VALUE', axis=1)
print(std.shape)
std.head(100)

(121091, 3)

    household_key  WEEK_NO  std_spending_previous_weeks
0               1        8                          NaN
1               1       10                          NaN
2               1       13                    26.558931
3               1       14                    26.744131
4               1       15                    23.015419
5               1       16                    19.936253
6               1       17                    20.740776
7               1       19                    21.132495
8               1       20                    30.317261
9               1       22                    30.591714
10              1       23                    29.308748
11              1       24                    27.834441
12              1       25                    27.846706
13              1       26                    27.329719
14              1       28                    26.260118
15              1       30                    25.629272
16              1       31                    25.115873
17              1       32                    25.330191
18              1       33                    25.812366
19              1       34                    29.621454
20              1       36                    29.052727
21              1       38                    28.737504
22              1       40                    28.197614
23              1       41                    29.712049
24              1       42                    29.892937
25              1       44                    29.382039
26              1       45                    28.894535
27              1       46                    28.484995
28              1       47                    29.323261
29              1       49                    28.796619
30              1       51                    30.204620
31              1       52                    29.725795
32              1       54                    29.920336
33              1       56                    29.845385
34              1       58                    30.904109
35              1       60                    30.764958
36              1       61                    30.638987
37              1       62                    30.376468
38              1       63                    30.058418
39              1       65                    31.951451
40              1       67                    31.546133
41              1       68                    31.153123
42              1       69                    30.841339
43              1       70                    31.057715
44              1       71                    31.094318
45              1       72                    31.113494
46              1       73                    31.826409
47              1       74                    31.673250
48              1       77                    31.537253
49              1       78                    31.641787
50              1       79                    31.693407
51              1       80                    32.285808
52              1       82                    32.396728
53              1       84                    32.273813
54              1       85                    32.412741
55              1       86                    32.123995
56              1       87                    33.241171
57              1       88                    33.810339
58              1       89                    33.527725
59              1       90                    33.328821
60              1       91                    33.784996
61              1       92                    33.505838
62              1       93                    33.240971
63              1       95                    33.069629
64              1       97                    33.002867
65              1       99                    32.813414
66              1      100                    33.292475
67              1      102                    33.220174
68              2       15                          NaN
69              2       17                          NaN
70              2       18                     3.874945
71              2       21                    22.012358
72              2       22                    24.780494
73              2       23                    24.783751
74              2       24                    22.506518
75              2       25                    62.551344
76              2       26                    59.674577
77              2       27                    56.755310
78              2       28                    53.520952
79              2       30                    51.425683
80              2       32                    49.440262
81              2       35                    47.959627
82              2       36                    46.153846
83              2       38                    44.475313
84              2       42                    47.824724
85              2       46                    46.751609
86              2       49                    45.405123
87              2       50                    45.353988
88              2       60                    44.865103
89              2       61                    43.744439
90              2       62                    43.207521
91              2       67                    42.922550
92              2       69                    42.141246
93              2       70                    43.177528
94              2       71                    42.492835
95              2       78                    41.992992
96              2       83                    42.555385
97              2       84                    41.822507
98              2       85                    41.497853
99              2       88                    41.507698

In [98]:
var = transactions_with_time[['household_key','WEEK_NO','SALES_VALUE']]
var = var.sort_values(by='WEEK_NO').groupby('household_key').expanding().var()
var = var.drop('household_key', axis=1).reset_index()
var.index = var['level_1']

var = var.join(transactions_with_time[['household_key','WEEK_NO']], lsuffix='_avg')
var = var.drop(['household_key_avg','level_1','WEEK_NO_avg'], axis=1).reset_index().drop('level_1', axis=1)
var['var_spending_previous_weeks'] = var.groupby('household_key')['SALES_VALUE'].shift(1)
var = var.drop('SALES_VALUE', axis=1)
print(var.shape)
var.head(100)

(121091, 3)

    household_key  WEEK_NO  var_spending_previous_weeks
0               1        8                          NaN
1               1       10                          NaN
2               1       13                   705.376800
3               1       14                   715.248533
4               1       15                   529.709492
5               1       16                   397.454170
6               1       17                   430.179787
7               1       19                   446.582362
8               1       20                   919.136312
9               1       22                   935.852969
10              1       23                   859.002717
11              1       24                   774.756102
12              1       25                   775.439015
13              1       26                   746.913544
14              1       28                   689.593776
15              1       30                   656.859581
16              1       31                   630.807078
17              1       32                   641.618551
18              1       33                   666.278257
19              1       34                   877.430556
20              1       36                   844.060950
21              1       38                   825.844126
22              1       40                   795.105419
23              1       41                   882.805868
24              1       42                   893.587686
25              1       44                   863.304241
26              1       45                   834.894131
27              1       46                   811.394940
28              1       47                   859.853635
29              1       49                   829.245239
30              1       51                   912.319059
31              1       52                   883.622906
32              1       54                   895.226509
33              1       56                   890.747009
34              1       58                   955.063963
35              1       60                   946.482636
36              1       61                   938.747511
37              1       62                   922.729797
38              1       63                   903.508513
39              1       65                  1020.895220
40              1       67                   995.158505
41              1       68                   970.517080
42              1       69                   951.188198
43              1       70                   964.581631
44              1       71                   966.856612
45              1       72                   968.049532
46              1       73                  1012.920330
47              1       74                  1003.194748
48              1       77                   994.598298
49              1       78                  1001.202700
50              1       79                  1004.472026
51              1       80                  1042.373418
52              1       82                  1049.547990
53              1       84                  1041.599032
54              1       85                  1050.585799
55              1       86                  1031.951025
56              1       87                  1104.975454
57              1       88                  1143.139023
58              1       89                  1124.108338
59              1       90                  1110.810320
60              1       91                  1141.425938
61              1       92                  1122.641205
62              1       93                  1104.962169
63              1       95                  1093.600382
64              1       97                  1089.189220
65              1       99                  1076.720122
66              1      100                  1108.388905
67              1      102                  1103.579967
68              2       15                          NaN
69              2       17                          NaN
70              2       18                    15.015200
71              2       21                   484.543900
72              2       22                   614.072867
73              2       23                   614.234330
74              2       24                   506.543347
75              2       25                  3912.670624
76              2       26                  3561.055198
77              2       27                  3221.165250
78              2       28                  2864.492351
79              2       30                  2644.600876
80              2       32                  2444.339475
81              2       35                  2300.125831
82              2       36                  2130.177480
83              2       38                  1978.053489
84              2       42                  2287.204256
85              2       46                  2185.712987
86              2       49                  2061.625179
87              2       50                  2056.984250
88              2       60                  2012.877426
89              2       61                  1913.575973
90              2       62                  1866.889874
91              2       67                  1842.345325
92              2       69                  1775.884591
93              2       70                  1864.298936
94              2       71                  1805.640995
95              2       78                  1763.411395
96              2       83                  1810.960769
97              2       84                  1749.122107
98              2       85                  1722.071822
99              2       88                  1722.888953

In [99]:
quan25 = transactions_with_time[['household_key','WEEK_NO','SALES_VALUE']]
quan25 = quan25.sort_values(by='WEEK_NO').groupby('household_key').expanding().quantile(0.25)
quan25 = quan25.drop('household_key', axis=1).reset_index()
quan25.index = quan25['level_1']

quan25 = quan25.join(transactions_with_time[['household_key','WEEK_NO']], lsuffix='_avg')
quan25 = quan25.drop(['household_key_avg','level_1','WEEK_NO_avg'], axis=1).reset_index().drop('level_1', axis=1)
quan25['quan25_spending_previous_weeks'] = quan25.groupby('household_key')['SALES_VALUE'].shift(1)
quan25 = quan25.drop('SALES_VALUE', axis=1)
print(quan25.shape)
quan25.head(100)

(121091, 3)

    household_key  WEEK_NO  quan25_spending_previous_weeks
0               1        8                             NaN
1               1       10                         78.6600
2               1       13                         50.4900
3               1       14                         34.0000
4               1       15                         37.5500
5               1       16                         41.1000
6               1       17                         30.4500
7               1       19                         26.8300
8               1       20                         26.8650
9               1       22                         26.9000
10              1       23                         30.4500
11              1       24                         34.0000
12              1       25                         37.5500
13              1       26                         38.8800
14              1       28                         39.4350
15              1       30                         39.9900
16              1       31                         40.5450
17              1       32                         38.8800
18              1       33                         31.8825
19              1       34                         34.2150
20              1       36                         36.5475
21              1       38                         38.8800
22              1       40                         39.4350
23              1       41                         39.9900
24              1       42                         36.5475
25              1       44                         38.8800
26              1       45                         39.4350
27              1       46                         39.9900
28              1       47                         36.5475
29              1       49                         38.8800
30              1       51                         39.4350
31              1       52                         39.9900
32              1       54                         40.5450
33              1       56                         41.1000
34              1       58                         39.4350
35              1       60                         39.9900
36              1       61                         40.5450
37              1       62                         41.1000
38              1       63                         41.5250
39              1       65                         41.9500
40              1       67                         42.3750
41              1       68                         42.8000
42              1       69                         42.8450
43              1       70                         41.9500
44              1       71                         40.5450
45              1       72                         41.1000
46              1       73                         39.4350
47              1       74                         39.3900
48              1       77                         38.8325
49              1       78                         38.6900
50              1       79                         38.7375
51              1       80                         35.4450
52              1       82                         37.0675
53              1       84                         38.6900
54              1       85                         33.8225
55              1       86                         35.4450
56              1       87                         37.0675
57              1       88                         32.2000
58              1       89                         33.8225
59              1       90                         35.4450
60              1       91                         31.5375
61              1       92                         32.2000
62              1       93                         33.8225
63              1       95                         35.4450
64              1       97                         37.0675
65              1       99                         38.6900
66              1      100                         38.7375
67              1      102                         38.7850
68              2       15                             NaN
69              2       17                         22.7000
70              2       18                         18.5900
71              2       21                         19.9600
72              2       22                         21.3300
73              2       23                         17.2200
74              2       24                         18.5900
75              2       25                         19.9600
76              2       26                         16.8075
77              2       27                         17.2200
78              2       28                         18.0225
79              2       30                         18.8250
80              2       32                         19.6275
81              2       35                         19.7000
82              2       36                         19.8825
83              2       38                         20.0650
84              2       42                         20.2475
85              2       46                         20.4300
86              2       49                         20.5925
87              2       50                         20.7550
88              2       60                         20.2475
89              2       61                         20.4300
90              2       62                         19.8825
91              2       67                         18.8450
92              2       69                         19.2725
93              2       70                         19.7000
94              2       71                         19.8825
95              2       78                         20.0650
96              2       83                         20.2475
97              2       84                         20.4300
98              2       85                         20.5925
99              2       88                         20.0650

In [100]:
quan50 = transactions_with_time[['household_key','WEEK_NO','SALES_VALUE']]
quan50 = quan50.sort_values(by='WEEK_NO').groupby('household_key').expanding().quantile(0.5)
quan50 = quan50.drop('household_key', axis=1).reset_index()
quan50.index = quan50['level_1']

quan50 = quan50.join(transactions_with_time[['household_key','WEEK_NO']], lsuffix='_avg')
quan50 = quan50.drop(['household_key_avg','level_1','WEEK_NO_avg'], axis=1).reset_index().drop('level_1', axis=1)
quan50['quan50_spending_previous_weeks'] = quan50.groupby('household_key')['SALES_VALUE'].shift(1)
quan50 = quan50.drop('SALES_VALUE', axis=1)
print(quan50.shape)
quan50.head(100)

(121091, 3)

    household_key  WEEK_NO  quan50_spending_previous_weeks
0               1        8                             NaN
1               1       10                          78.660
2               1       13                          59.880
3               1       14                          41.100
4               1       15                          52.265
5               1       16                          53.450
6               1       17                          47.275
7               1       19                          41.100
8               1       20                          47.275
9               1       22                          53.450
10              1       23                          58.440
11              1       24                          54.230
12              1       25                          58.830
13              1       26                          54.230
14              1       28                          55.865
15              1       30                          57.500
16              1       31                          55.865
17              1       32                          54.230
18              1       33                          53.840
19              1       34                          54.230
20              1       36                          53.840
21              1       38                          54.230
22              1       40                          55.865
23              1       41                          57.500
24              1       42                          55.865
25              1       44                          57.500
26              1       45                          55.865
27              1       46                          57.500
28              1       47                          55.865
29              1       49                          57.500
30              1       51                          59.365
31              1       52                          61.230
32              1       54                          62.330
33              1       56                          63.430
34              1       58                          62.330
35              1       60                          63.430
36              1       61                          66.115
37              1       62                          68.800
38              1       63                          66.115
39              1       65                          68.800
40              1       67                          69.290
41              1       68                          68.810
42              1       69                          69.295
43              1       70                          68.810
44              1       71                          68.805
45              1       72                          68.810
46              1       73                          68.805
47              1       74                          68.800
48              1       77                          66.115
49              1       78                          63.430
50              1       79                          66.115
51              1       80                          63.430
52              1       82                          66.115
53              1       84                          68.800
54              1       85                          66.115
55              1       86                          63.430
56              1       87                          66.115
57              1       88                          63.430
58              1       89                          62.330
59              1       90                          63.430
60              1       91                          62.330
61              1       92                          61.230
62              1       93                          62.330
63              1       95                          61.230
64              1       97                          62.330
65              1       99                          63.430
66              1      100                          65.885
67              1      102                          68.340
68              2       15                             NaN
69              2       17                          22.700
70              2       18                          19.960
71              2       21                          22.700
72              2       22                          40.245
73              2       23                          22.700
74              2       24                          24.360
75              2       25                          26.020
76              2       26                          24.360
77              2       27                          22.700
78              2       28                          24.360
79              2       30                          22.700
80              2       32                          24.360
81              2       35                          22.700
82              2       36                          24.360
83              2       38                          26.020
84              2       42                          30.750
85              2       46                          26.020
86              2       49                          30.750
87              2       50                          35.480
88              2       60                          30.750
89              2       61                          35.480
90              2       62                          30.750
91              2       67                          26.020
92              2       69                          30.750
93              2       70                          35.480
94              2       71                          39.840
95              2       78                          44.200
96              2       83                          44.775
97              2       84                          44.240
98              2       85                          44.795
99              2       88                          44.240

In [101]:
quan75 = transactions_with_time[['household_key','WEEK_NO','SALES_VALUE']]
quan75 = quan75.sort_values(by='WEEK_NO').groupby('household_key').expanding().quantile(0.75)
quan75 = quan75.drop('household_key', axis=1).reset_index()
quan75.index = quan75['level_1']

quan75 = quan75.join(transactions_with_time[['household_key','WEEK_NO']], lsuffix='_avg')
quan75 = quan75.drop(['household_key_avg','level_1','WEEK_NO_avg'], axis=1).reset_index().drop('level_1', axis=1)
quan75['quan75_spending_previous_weeks'] = quan75.groupby('household_key')['SALES_VALUE'].shift(1)
quan75 = quan75.drop('SALES_VALUE', axis=1)
print(quan75.shape)
quan75.head(100)

(121091, 3)

    household_key  WEEK_NO  quan75_spending_previous_weeks
0               1        8                             NaN
1               1       10                         78.6600
2               1       13                         69.2700
3               1       14                         59.8800
4               1       15                         67.2375
5               1       16                         63.4300
6               1       17                         60.9350
7               1       19                         58.4400
8               1       20                         67.2375
9               1       22                         78.6600
10              1       23                         77.3250
11              1       24                         75.9900
12              1       25                         80.8250
13              1       26                         78.6600
14              1       28                         77.3250
15              1       30                         76.5900
16              1       31                         75.5550
17              1       32                         74.5200
18              1       33                         74.2200
19              1       34                         76.5900
20              1       36                         75.5550
21              1       38                         78.6600
22              1       40                         77.6250
23              1       41                         79.5550
24              1       42                         79.1075
25              1       44                         78.6600
26              1       45                         77.6250
27              1       46                         77.2700
28              1       47                         76.5750
29              1       49                         75.8800
30              1       51                         77.9650
31              1       52                         77.2700
32              1       54                         79.1075
33              1       56                         80.4500
34              1       58                         80.0025
35              1       60                         83.8850
36              1       61                         87.3500
37              1       62                         87.3200
38              1       63                         86.2000
39              1       65                         87.3800
40              1       67                         87.3500
41              1       68                         87.3200
42              1       69                         86.2000
43              1       70                         85.0800
44              1       71                         83.9600
45              1       72                         87.3200
46              1       73                         86.2000
47              1       74                         85.0800
48              1       77                         83.9600
49              1       78                         82.8400
50              1       79                         86.2000
51              1       80                         85.0800
52              1       82                         87.3500
53              1       84                         87.4400
54              1       85                         87.4100
55              1       86                         87.3800
56              1       87                         87.5750
57              1       88                         87.4400
58              1       89                         87.4100
59              1       90                         87.3800
60              1       91                         87.3500
61              1       92                         87.3200
62              1       93                         86.2000
63              1       95                         85.0800
64              1       97                         87.3500
65              1       99                         87.3200
66              1      100                         87.4100
67              1      102                         87.7100
68              2       15                             NaN
69              2       17                         22.7000
70              2       18                         21.3300
71              2       21                         40.2450
72              2       22                         60.0150
73              2       23                         57.7900
74              2       24                         49.8475
75              2       25                         62.2400
76              2       26                         60.0150
77              2       27                         57.7900
78              2       28                         56.1675
79              2       30                         54.5450
80              2       32                         60.0150
81              2       35                         57.7900
82              2       36                         56.1675
83              2       38                         54.5450
84              2       42                         60.0150
85              2       46                         57.7900
86              2       49                         57.6875
87              2       50                         62.2400
88              2       60                         60.0150
89              2       61                         57.7900
90              2       62                         57.6875
91              2       67                         57.5850
92              2       69                         59.4200
93              2       70                         64.3100
94              2       71                         66.0950
95              2       78                         67.1600
96              2       83                         68.1875
97              2       84                         67.6300
98              2       85                         69.3025
99              2       88                         68.7450

In [102]:
# training_data = training_data.merge(mean, on=['household_key','WEEK_NO'], how='left')
# training_data = training_data.merge(std, on=['household_key','WEEK_NO'], how='left')
# training_data = training_data.merge(var, on=['household_key','WEEK_NO'], how='left')
# training_data = training_data.merge(quan25, on=['household_key','WEEK_NO'], how='left')
# training_data = training_data.merge(quan50, on=['household_key','WEEK_NO'], how='left')
# training_data = training_data.merge(quan75, on=['household_key','WEEK_NO'], how='left')

# training_data.shape

## 7. average spent weekly on previous weeks (with actual week count)

In [103]:
print(big_df.shape)
big_df.head()

(255000, 4)

   WEEK_NO  household_key  SALES_VALUE  QUANTITY
0        1              1          0.0       0.0
1        2              1          0.0       0.0
2        3              1          0.0       0.0
3        4              1          0.0       0.0
4        5              1          0.0       0.0

In [104]:
mean_r = big_df[['household_key','WEEK_NO','SALES_VALUE']]
mean_r = mean_r.sort_values(by='WEEK_NO').groupby('household_key').expanding().mean()
mean_r = mean_r.drop('household_key', axis=1).reset_index()
mean_r.index = mean_r['level_1']

mean_r = mean_r.join(transactions_with_time[['household_key','WEEK_NO']], lsuffix='_avg')
mean_r = mean_r.drop(['household_key_avg','level_1','WEEK_NO_avg'], axis=1).reset_index().drop('level_1', axis=1)
mean_r['avg_spending_previous_weeks_real_time'] = mean_r.groupby('household_key')['SALES_VALUE'].shift(1)
mean_r = mean_r.drop('SALES_VALUE', axis=1)
print(mean_r.shape)
mean_r.head(10)

(255000, 3)

   household_key  WEEK_NO  avg_spending_previous_weeks_real_time
0            1.0      8.0                                    NaN
1            1.0     10.0                                 0.0000
2            1.0     13.0                                 0.0000
3            1.0     14.0                                 0.0000
4            1.0     15.0                                 0.0000
5            1.0     16.0                                 0.0000
6            1.0     17.0                                 0.0000
7            1.0     19.0                                 0.0000
8            1.0     20.0                                 9.8325
9            1.0     22.0                                 8.7400

In [105]:
std_r = big_df[['household_key','WEEK_NO','SALES_VALUE']]
std_r = std_r.sort_values(by='WEEK_NO').groupby('household_key').expanding().std()
std_r = std_r.drop('household_key', axis=1).reset_index()
std_r.index = std_r['level_1']

std_r = std_r.join(transactions_with_time[['household_key','WEEK_NO']], lsuffix='_avg')
std_r = std_r.drop(['household_key_avg','level_1','WEEK_NO_avg'], axis=1).reset_index().drop('level_1', axis=1)
std_r['std_spending_previous_weeks_real_time'] = std_r.groupby('household_key')['SALES_VALUE'].shift(1)
std_r = std_r.drop('SALES_VALUE', axis=1)
print(std_r.shape)
std_r.head()

(255000, 3)

   household_key  WEEK_NO  std_spending_previous_weeks_real_time
0            1.0      8.0                                    NaN
1            1.0     10.0                                    NaN
2            1.0     13.0                                    0.0
3            1.0     14.0                                    0.0
4            1.0     15.0                                    0.0

In [106]:
var_r = big_df[['household_key','WEEK_NO','SALES_VALUE']]
var_r = var_r.sort_values(by='WEEK_NO').groupby('household_key').expanding().var()
var_r = var_r.drop('household_key', axis=1).reset_index()
var_r.index = var_r['level_1']

var_r = var_r.join(transactions_with_time[['household_key','WEEK_NO']], lsuffix='_avg')
var_r = var_r.drop(['household_key_avg','level_1','WEEK_NO_avg'], axis=1).reset_index().drop('level_1', axis=1)
var_r['var_spending_previous_weeks_real_time'] = var_r.groupby('household_key')['SALES_VALUE'].shift(1)
var_r = var_r.drop('SALES_VALUE', axis=1)
print(var_r.shape)
var_r.head(10)

(255000, 3)

   household_key  WEEK_NO  var_spending_previous_weeks_real_time
0            1.0      8.0                                    NaN
1            1.0     10.0                                    NaN
2            1.0     13.0                                0.00000
3            1.0     14.0                                0.00000
4            1.0     15.0                                0.00000
5            1.0     16.0                                0.00000
6            1.0     17.0                                0.00000
7            1.0     19.0                                0.00000
8            1.0     20.0                              773.42445
9            1.0     22.0                              687.48840

In [107]:
quan25_r = big_df[['household_key','WEEK_NO','SALES_VALUE']]
quan25_r = quan25_r.sort_values(by='WEEK_NO').groupby('household_key').expanding().quantile(0.25)
quan25_r = quan25_r.drop('household_key', axis=1).reset_index()
quan25_r.index = quan25_r['level_1']

quan25_r = quan25_r.join(transactions_with_time[['household_key','WEEK_NO']], lsuffix='_avg')
quan25_r = quan25_r.drop(['household_key_avg','level_1','WEEK_NO_avg'], axis=1).reset_index().drop('level_1', axis=1)
quan25_r['quan25_spending_previous_weeks_real_time'] = quan25_r.groupby('household_key')['SALES_VALUE'].shift(1)
quan25_r = quan25_r.drop('SALES_VALUE', axis=1)
print(quan25_r.shape)
quan25_r.head(10)

(255000, 3)

   household_key  WEEK_NO  quan25_spending_previous_weeks_real_time
0            1.0      8.0                                       NaN
1            1.0     10.0                                       0.0
2            1.0     13.0                                       0.0
3            1.0     14.0                                       0.0
4            1.0     15.0                                       0.0
5            1.0     16.0                                       0.0
6            1.0     17.0                                       0.0
7            1.0     19.0                                       0.0
8            1.0     20.0                                       0.0
9            1.0     22.0                                       0.0

In [108]:
quan50_r = big_df[['household_key','WEEK_NO','SALES_VALUE']]
quan50_r = quan50_r.sort_values(by='WEEK_NO').groupby('household_key').expanding().quantile(0.5)
quan50_r = quan50_r.drop('household_key', axis=1).reset_index()
quan50_r.index = quan50_r['level_1']

quan50_r = quan50_r.join(transactions_with_time[['household_key','WEEK_NO']], lsuffix='_avg')
quan50_r = quan50_r.drop(['household_key_avg','level_1','WEEK_NO_avg'], axis=1).reset_index().drop('level_1', axis=1)
quan50_r['quan50_spending_previous_weeks_real_time'] = quan50_r.groupby('household_key')['SALES_VALUE'].shift(1)
quan50_r = quan50_r.drop('SALES_VALUE', axis=1)
print(quan50_r.shape)
quan50_r.head(10)

(255000, 3)

   household_key  WEEK_NO  quan50_spending_previous_weeks_real_time
0            1.0      8.0                                       NaN
1            1.0     10.0                                       0.0
2            1.0     13.0                                       0.0
3            1.0     14.0                                       0.0
4            1.0     15.0                                       0.0
5            1.0     16.0                                       0.0
6            1.0     17.0                                       0.0
7            1.0     19.0                                       0.0
8            1.0     20.0                                       0.0
9            1.0     22.0                                       0.0

In [109]:
quan75_r = big_df[['household_key','WEEK_NO','SALES_VALUE']]
quan75_r = quan75_r.sort_values(by='WEEK_NO').groupby('household_key').expanding().quantile(0.75)
quan75_r = quan75_r.drop('household_key', axis=1).reset_index()
quan75_r.index = quan75_r['level_1']

quan75_r = quan75_r.join(transactions_with_time[['household_key','WEEK_NO']], lsuffix='_avg')
quan75_r = quan75_r.drop(['household_key_avg','level_1','WEEK_NO_avg'], axis=1).reset_index().drop('level_1', axis=1)
quan75_r['quan75_spending_previous_weeks_real_time'] = quan75_r.groupby('household_key')['SALES_VALUE'].shift(1)
quan75_r = quan75_r.drop('SALES_VALUE', axis=1)
print(quan75_r.shape)
quan75_r.head(10)

(255000, 3)

   household_key  WEEK_NO  quan75_spending_previous_weeks_real_time
0            1.0      8.0                                       NaN
1            1.0     10.0                                       0.0
2            1.0     13.0                                       0.0
3            1.0     14.0                                       0.0
4            1.0     15.0                                       0.0
5            1.0     16.0                                       0.0
6            1.0     17.0                                       0.0
7            1.0     19.0                                       0.0
8            1.0     20.0                                       0.0
9            1.0     22.0                                       0.0

In [110]:
# training_data = training_data.merge(mean, on=['household_key','WEEK_NO'], how='left')
# training_data = training_data.merge(std, on=['household_key','WEEK_NO'], how='left')
# training_data = training_data.merge(var, on=['household_key','WEEK_NO'], how='left')
# training_data = training_data.merge(quan25, on=['household_key','WEEK_NO'], how='left')
# training_data = training_data.merge(quan50, on=['household_key','WEEK_NO'], how='left')
# training_data = training_data.merge(quan75, on=['household_key','WEEK_NO'], how='left')


# training_data.shape

## 8. weighted mean of previous week spendings

In [50]:
transactions_weekly_aggregated.head()

   household_key  WEEK_NO  SALES_VALUE  QUANTITY
0              1        8        78.66        34
1              1       10        41.10        14
2              1       13        26.90        13
3              1       14        63.43        32
4              1       15        53.45        20

In [51]:
weighted_avg = transactions_weekly_aggregated.copy()
weighted_avg['1_times_before'] = weighted_avg.groupby('household_key')['SALES_VALUE'].shift(1)
weighted_avg['2_times_before'] = weighted_avg.groupby('household_key')['SALES_VALUE'].shift(2)
weighted_avg['3_times_before'] = weighted_avg.groupby('household_key')['SALES_VALUE'].shift(3)
weighted_avg['4_times_before'] = weighted_avg.groupby('household_key')['SALES_VALUE'].shift(4)
weighted_avg['5_times_before'] = weighted_avg.groupby('household_key')['SALES_VALUE'].shift(5)
weighted_avg['6_times_before'] = weighted_avg.groupby('household_key')['SALES_VALUE'].shift(6)
weighted_avg['7_times_before'] = weighted_avg.groupby('household_key')['SALES_VALUE'].shift(7)
weighted_avg['8_times_before'] = weighted_avg.groupby('household_key')['SALES_VALUE'].shift(8)
weighted_avg['9_times_before'] = weighted_avg.groupby('household_key')['SALES_VALUE'].shift(9)
weighted_avg['10_times_before'] = weighted_avg.groupby('household_key')['SALES_VALUE'].shift(10)
weighted_avg.head(20)

,household_key,WEEK_NO,SALES_VALUE,QUANTITY,1_times_before,2_times_before,3_times_before,4_times_before,5_times_before,6_times_before,7_times_before,8_times_before,9_times_before,10_times_before
0,1,8,78.66,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,10,41.10,14,78.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,13,26.90,13,41.10,78.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,14,63.43,32,26.90,41.10,78.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,15,53.45,20,63.43,26.90,41.10,78.66,NaN,NaN,NaN,NaN,NaN,NaN
5,1,16,26.76,11,53.45,63.43,26.90,41.10,78.66,NaN,NaN,NaN,NaN,NaN
6,1,17,23.55,12,26.76,53.45,63.43,26.90,41.10,78.66,NaN,NaN,NaN,NaN
7,1,19,110.34,43,23.55,26.76,53.45,63.43,26.90,41.10,78.66,NaN,NaN,NaN
8,1,20,87.44,43,110.34,23.55,26.76,53.45,63.43,26.90,41.10,78.66,NaN,NaN
9,1,22,73.32,32,87.44,110.34,23.55,26.76,53.45,63.43,26.90,41.10,78.66,NaN
10,1,23,54.23,23,73.32,87.44,110.34,23.55,26.76,53.45,63.43,26.90,41.10,78.66
11,1,24,87.32,47,54.23,73.32,87.44,110.34,23.55,26.76,53.45,63.43,26.90,41.10
12,1,25,38.88,13,87.32,54.23,73.32,87.44,110.34,23.55,26.76,53.45,63.43,26.90
13,1,26,57.50,28,38.88,87.32,54.23,73.32,87.44,110.34,23.55,26.76,53.45,63.43
14,1,28,74.52,38,57.50,38.88,87.32,54.23,73.32,87.44,110.34,23.55,26.76,53.45
15,1,30,42.98,21,74.52,57.50,38.88,87.32,54.23,73.32,87.44,110.34,23.55,26.76
16,1,31,29.55,12,42.98,74.52,57.50,38.88,87.32,54.23,73.32,87.44,110.34,23.55
17,1,32,23.54,8,29.55,42.98,74.52,57.50,38.88,87.32,54.23,73.32,87.44,110.34
18,1,33,123.86,62,23.54,29.55,42.98,74.52,57.50,38.88,87.32,54.23,73.32,87.44
19,1,34,42.80,18,123.86,23.54,29.55,42.98,74.52,57.50,38.88,87.32,54.23,73.32

In [52]:
weighted_avg['weighted_avg'] = (weighted_avg['1_times_before']*10 + 
                               weighted_avg['2_times_before']*9 +
                               weighted_avg['3_times_before']*8 +
                               weighted_avg['4_times_before']*7 +
                               weighted_avg['5_times_before']*6 +
                               weighted_avg['6_times_before']*5 +
                               weighted_avg['7_times_before']*4 +
                               weighted_avg['8_times_before']*3 +
                               weighted_avg['9_times_before']*2 +
                               weighted_avg['9_times_before']*1)/(1+2+3+4+5+6+7+8+9+10)

In [53]:
weighted_avg = weighted_avg[['household_key','WEEK_NO','weighted_avg']]
weighted_avg.head(200)

     household_key  WEEK_NO  weighted_avg
0                1        8           NaN
1                1       10           NaN
2                1       13           NaN
3                1       14           NaN
4                1       15           NaN
5                1       16           NaN
6                1       17           NaN
7                1       19           NaN
8                1       20           NaN
9                1       22     60.871091
10               1       23     62.786545
11               1       24     62.435818
12               1       25     69.043273
13               1       26     64.235091
14               1       28     63.136364
15               1       30     65.970727
16               1       31     63.896909
17               1       32     55.455636
18               1       33     47.966545
19               1       34     60.045636
20               1       36     57.763455
21               1       38     60.450545
22               1       40     63.975273
23               1       41     73.833455
24               1       42     65.961636
25               1       44     68.226182
26               1       45     65.715455
27               1       46     69.880909
28               1       47     56.778364
29               1       49     57.830727
30               1       51     67.263818
31               1       52     68.186000
32               1       54     71.395818
33               1       56     77.583818
34               1       58     65.449818
35               1       60     70.512182
36               1       61     72.915818
37               1       62     77.016909
38               1       63     73.095455
39               1       65     82.560909
40               1       67     81.565818
41               1       68     79.205636
42               1       69     78.015636
43               1       70     71.945455
44               1       71     63.632182
45               1       72     67.915273
46               1       73     55.895455
47               1       74     53.488909
48               1       77     46.575636
49               1       78     41.675455
50               1       79     50.567273
51               1       80     41.596364
52               1       82     52.506909
53               1       84     60.937273
54               1       85     52.736182
55               1       86     55.362727
56               1       87     70.279818
57               1       88     60.060727
58               1       89     61.023818
59               1       90     62.135091
60               1       91     55.099273
61               1       92     53.583636
62               1       93     53.986000
63               1       95     52.796364
64               1       97     60.389091
65               1       99     60.154545
66               1      100     73.631273
67               1      102     78.820364
68               2       15           NaN
69               2       17           NaN
70               2       18           NaN
71               2       21           NaN
72               2       22           NaN
73               2       23           NaN
74               2       24           NaN
75               2       25           NaN
76               2       26           NaN
77               2       27     51.153818
78               2       28     52.149091
79               2       30     48.066727
80               2       32     51.064364
81               2       35     43.875636
82               2       36     42.578727
83               2       38     45.201455
84               2       42     53.479455
85               2       46     50.172909
86               2       49     53.284727
87               2       50     60.818182
88               2       60     55.126182
89               2       61     52.193636
90               2       62     46.951455
91               2       67     40.000545
92               2       69     44.426182
93               2       70     51.994000
94               2       71     56.912545
95               2       78     61.800545
96               2       83     69.007455
97               2       84     67.872727
98               2       85     72.030545
99               2       88     62.996182
100              2       89     70.586182
101              2       90     60.338364
102              2       96     61.481818
103              3       17           NaN
104              3       18           NaN
105              3       20           NaN
106              3       21           NaN
107              3       24           NaN
108              3       25           NaN
109              3       27           NaN
110              3       28           NaN
111              3       30           NaN
112              3       32    114.991273
113              3       33    102.899455
114              3       35    128.317273
115              3       36    120.610000
116              3       37    110.122182
117              3       38    101.415818
118              3       39    114.708000
119              3       42     98.785636
120              3       44     77.478000
121              3       46     64.798545
122              3       52    107.131636
123              3       53    105.521091
124              3       54     98.604364
125              3       57     82.400364
126              3       59     74.008364
127              3       61     66.478545
128              3       62     66.449091
129              3       63     55.031455
130              3       65     50.272364
131              3       67     37.491818
132              3       69     44.912000
133              3       77     39.041091
134              3       82     51.872727
135              3       83     49.800182
136              3       92     41.909091
137              3       97     39.974182
138              3      101     37.816364
139              4       16           NaN
140              4       21           NaN
141              4       23           NaN
142              4       27           NaN
143              4       28           NaN
144              4       29           NaN
145              4       32           NaN
146              4       34           NaN
147              4       36           NaN
148              4       37     68.769273
149              4       38     59.176909
150              4       42     58.737091
151              4       44     66.961455
152              4       47     59.745818
153              4       48     55.087455
154              4       49     46.917091
155              4       51     41.860545
156              4       52     35.893091
157              4       55     28.840000
158              4       61     25.202545
159              4       67     24.103636
160              4       72     19.006545
161              4       84     19.258000
162              4       87     20.003636
163              4       89     19.895818
164              4       90     29.334909
165              5       13           NaN
166              5       15           NaN
167              5       17           NaN
168              5       19           NaN
169              5       20           NaN
170              5       23           NaN
171              5       25           NaN
172              5       27           NaN
173              5       28           NaN
174              5       33     46.904364
175              5       38     44.582364
176              5       44     41.722182
177              5       46     36.586545
178              5       48     35.558364
179              5       60     31.631636
180              5       63     30.074727
181              5       64     27.348364
182              5       65     21.516000
183              5       66     21.210182
184              5       69     18.262182
185              5       75     21.401636
186              5       78     19.999091
187              5       80     19.484727
188              5       81     19.427455
189              5       85     24.365818
190              5      100     22.552000
191              5      101     22.454364
192              6       18           NaN
193              6       19           NaN
194              6       20           NaN
195              6       21           NaN
196              6       22           NaN
197              6       23           NaN
198              6       24           NaN
199              6       25           NaN

In [54]:
# training_data = training_data.merge(weighted_avg, on=['household_key','WEEK_NO'], how='left')


# training_data.shape

## 9. average visits per week

In [55]:
transactions_with_time = transactions_weekly_aggregated.copy()
print(transactions_with_time.shape)
transactions_with_time.head()

(121091, 4)

   household_key  WEEK_NO  SALES_VALUE  QUANTITY
0              1        8        78.66        34
1              1       10        41.10        14
2              1       13        26.90        13
3              1       14        63.43        32
4              1       15        53.45        20

In [56]:
family_weekly_visits = df_transactions[['household_key','WEEK_NO','BASKET_ID']].drop_duplicates()
family_weekly_visits = family_weekly_visits.groupby(['household_key','WEEK_NO']).count().reset_index()
family_weekly_visits.rename(columns={'BASKET_ID':'count_basket_id'}, inplace=True)
 
family_weekly_visits.head()

   household_key  WEEK_NO  count_basket_id
0              1        8                1
1              1       10                1
2              1       13                1
3              1       14                1
4              1       15                1

In [57]:

family_weekly_visits = family_weekly_visits.sort_values(by='WEEK_NO').groupby('household_key').expanding().mean()
family_weekly_visits = family_weekly_visits.drop('household_key', axis=1).reset_index()
family_weekly_visits.index = family_weekly_visits['level_1']

family_weekly_visits = family_weekly_visits.join(transactions_with_time[['household_key','WEEK_NO']], lsuffix='_avg')
family_weekly_visits = family_weekly_visits.drop(['household_key_avg','level_1','WEEK_NO_avg'], axis=1).reset_index().drop('level_1', axis=1)
family_weekly_visits['avg_visits_per_week'] = family_weekly_visits.groupby('household_key')['count_basket_id'].shift(1)
family_weekly_visits = family_weekly_visits.drop('count_basket_id', axis=1)

print(family_weekly_visits.shape)
family_weekly_visits.head(10)

(121091, 3)

   household_key  WEEK_NO  avg_visits_per_week
0              1        8                  NaN
1              1       10                  1.0
2              1       13                  1.0
3              1       14                  1.0
4              1       15                  1.0
5              1       16                  1.0
6              1       17                  1.0
7              1       19                  1.0
8              1       20                  1.0
9              1       22                  1.0

In [58]:
# training_data = training_data.merge(family_weekly_visits, on=['household_key','WEEK_NO'], how='left')


# training_data.shape

## 10. average visits per month

In [59]:
transactions_with_time = df_transactions[['household_key','WEEK_NO','month_num']].drop_duplicates()
transactions_with_time['year'] = transactions_with_time['WEEK_NO'].apply(lambda x: 2019 if x<45 else 2020 )
transactions_with_time = transactions_with_time.drop('WEEK_NO', axis=1).drop_duplicates().reset_index().drop('index',axis=1)
print(transactions_with_time.shape)
transactions_with_time.head()

(42395, 3)

   household_key  month_num  year
0           2375          2  2019
1           1364          2  2019
2           1130          2  2019
3           1173          2  2019
4             98          2  2019

In [60]:
subset = df_transactions[['household_key','BASKET_ID','WEEK_NO','month_num']].drop_duplicates()
subset['year'] = subset['WEEK_NO'].apply(lambda x: 2019 if x<45 else 2020 )
subset.drop('WEEK_NO',inplace=True,axis=1)
subset = subset.groupby(['household_key','month_num','year']).count().reset_index()

subset.rename(columns={'BASKET_ID':'count_basket_id'}, inplace=True)

print(subset.shape)
subset.head()

(42395, 4)

   household_key  month_num  year  count_basket_id
0              1          1  2020                6
1              1          2  2020                1
2              1          3  2020                9
3              1          4  2019                2
4              1          4  2020                4

In [61]:

family_monthly_visits = subset.sort_values(by=['month_num','year']).groupby('household_key').expanding().mean()

family_monthly_visits = family_monthly_visits.drop('household_key', axis=1).reset_index()
family_monthly_visits.drop('level_1', inplace=True, axis=1)

family_monthly_visits = family_monthly_visits.join(transactions_with_time[['household_key','month_num','year']], lsuffix='_avg')
family_monthly_visits = family_monthly_visits.drop(['household_key_avg','year_avg','month_num_avg'], axis=1).reset_index().drop('index',axis=1)
family_monthly_visits['avg_visits_per_month'] = family_monthly_visits.groupby('household_key')['count_basket_id'].shift(1)
family_monthly_visits = family_monthly_visits.drop('count_basket_id', axis=1)

print(family_monthly_visits.shape)
family_monthly_visits.head(10)

(42395, 4)

   household_key  month_num  year  avg_visits_per_month
0           2375          2  2019                   NaN
1           1364          2  2019                   NaN
2           1130          2  2019                   NaN
3           1173          2  2019                   NaN
4             98          2  2019                   NaN
5           1172          2  2019                   NaN
6           1060          2  2019                   NaN
7           1351          2  2019                   NaN
8            744          2  2019                   NaN
9            212          2  2019                   NaN

In [62]:
family_monthly_visits.sort_values(['household_key','year','month_num']).head(200)

       household_key  month_num  year  avg_visits_per_month
1473               1          4  2019                   NaN
3271               1          5  2019              2.750000
4472               1          6  2019              1.888889
7065               1          7  2019              4.000000
8840               1          8  2019             12.636364
10549              1          9  2019              5.000000
12569              1         10  2019              7.500000
15334              1         11  2019              4.428571
16344              1         12  2019              3.333333
18791              1          1  2020              1.833333
42084              1          2  2020              4.000000
22508              1          3  2020              2.500000
25114              1          4  2020              1.555556
26373              1          5  2020              9.500000
29507              1          6  2020              6.900000
30643              1          7  2020              3.000000
32176              1          8  2020              7.800000
35156              1          9  2020              4.428571
37424              1         10  2020              4.750000
39416              1         11  2020              4.800000
40356              1         12  2020              6.000000
4275               2          6  2019                   NaN
7213               2          7  2019              1.333333
7790               2          8  2019              7.100000
10710              2          9  2019              5.250000
12844              2         10  2019              5.500000
15175              2         11  2019              5.142857
17274              2         12  2019              1.000000
19772              2          1  2020              5.153846
21514              2          2  2020             10.000000
27064              2          5  2020              4.750000
29765              2          6  2020              2.272727
31535              2          7  2020             10.500000
35581              2          9  2020              7.000000
37770              2         10  2020              2.333333
38945              2         11  2020             31.230769
40284              2         12  2020              4.529412
5319               3          6  2019                   NaN
6985               3          7  2019              1.214286
8532               3          8  2019              5.666667
10709              3          9  2019              3.500000
12387              3         10  2019              9.000000
14535              3         11  2019              8.666667
17277              3         12  2019             21.952381
19915              3          1  2020              5.562500
23367              3          3  2020             15.230769
25561              3          4  2020              5.666667
27538              3          5  2020              4.187500
29301              3          6  2020              9.111111
31289              3          7  2020              6.500000
34621              3          9  2020             13.000000
37325              3         10  2020              8.571429
41273              3         12  2020              6.533333
4636               4          6  2019                   NaN
7271               4          7  2019              5.200000
9634               4          8  2019             10.142857
9964               4          9  2019              7.714286
13316              4         10  2019              9.312500
14220              4         11  2019              2.888889
17128              4         12  2019              1.600000
19983              4          1  2020             15.750000
20966              4          2  2020              6.157895
22878              4          3  2020             14.000000
27514              4          5  2020              4.117647
29888              4          6  2020              4.285714
31922              4          7  2020              7.250000
37940              4         10  2020              3.500000
39788              4         11  2020              4.375000
40902              4         12  2020              1.583333
3163               5          5  2019                   NaN
5206               5          6  2019              2.000000
6190               5          7  2019             11.400000
9150               5          8  2019              5.333333
9824               5          9  2019              3.909091
12353              5         10  2019              1.400000
15108              5         11  2019              1.615385
17537              5         12  2019              3.583333
19958              5          1  2020              3.000000
42241              5          3  2020             13.666667
27305              5          5  2020              3.200000
29123              5          6  2020              3.461538
31469              5          7  2020              3.666667
33832              5          8  2020              2.500000
35587              5          9  2020              5.666667
36795              5         10  2020              5.000000
5571               6          6  2019                   NaN
6026               6          7  2019              3.700000
8300               6          8  2019              1.333333
10273              6          9  2019              8.000000
12063              6         10  2019              2.650000
14051              6         11  2019              2.714286
16386              6         12  2019              3.666667
18825              6          1  2020              4.750000
21034              6          2  2020              3.800000
22350              6          3  2020              2.090909
23913              6          4  2020              6.421053
26774              6          5  2020              3.888889
28761              6          6  2020             12.166667
30557              6          7  2020              1.625000
32891              6          8  2020              3.944444
34159              6          9  2020             10.444444
37043              6         10  2020              6.666667
38525              6         11  2020             11.190476
40391              6         12  2020              3.250000
491                7          3  2019                   NaN
1168               7          4  2019              3.000000
3350               7          5  2019             24.500000
7541               7          7  2019              3.500000
9635               7          8  2019              9.454545
9932               7          9  2019              7.625000
12871              7         10  2019              2.666667
15602              7         11  2019              2.285714
17561              7         12  2019              9.176471
19708              7          1  2020              1.090909
41995              7          2  2020              3.200000
23622              7          3  2020              4.200000
25496              7          4  2020              5.625000
26639              7          5  2020              2.500000
28573              7          6  2020              3.285714
31551              7          7  2020              4.625000
33554              7          8  2020              6.000000
35044              7          9  2020              2.125000
37140              7         10  2020              4.473684
39825              7         11  2020              3.888889
40599              7         12  2020              3.166667
1810               8          4  2019                   NaN
4491               8          6  2019             26.000000
7264               8          7  2019              1.500000
8868               8          8  2019              6.863636
10185              8          9  2019             11.250000
13339              8         10  2019              2.000000
15489              8         11  2019              3.846154
16540              8         12  2019              1.333333
19853              8          1  2020              3.000000
21122              8          2  2020              5.800000
22704              8          3  2020              1.666667
24761              8          4  2020              3.666667
27546              8          5  2020              2.428571
29044              8          6  2020              7.411765
30669              8          7  2020              3.333333
32518              8          8  2020              5.000000
34512              8          9  2020             17.500000
37269              8         10  2020              6.142857
38239              8         11  2020              3.470588
18143              8         12  2020              5.866667
4646               9          6  2019                   NaN
11484              9          9  2019              4.750000
14244              9         11  2019              8.333333
17472              9         12  2019              1.750000
41548              9          1  2020             10.500000
20718              9          2  2020             17.777778
23446              9          3  2020              2.000000
25788              9          4  2020              5.727273
27693              9          5  2020              5.400000
32589              9          8  2020              8.214286
39869              9         11  2020              5.625000
41111              9         12  2020             13.111111
5365              10          6  2019                   NaN
7247              10          7  2019              2.000000
41663             10          1  2020              2.285714
42049             10          2  2020              3.789474
31927             10          7  2020              9.800000
5160              11          6  2019                   NaN
11641             11          9  2019              3.789474
25750             11          4  2020              4.333333
26404             11          5  2020              3.000000
2295              12          5  2019                   NaN
5629              12          6  2019             17.625000
7642              12          7  2019              7.352941
23829             12          3  2020              7.416667
33053             12          8  2020              1.400000
18268             12         12  2020              2.153846
4432              13          6  2019                   NaN
6175              13          7  2019              5.333333
7849              13          8  2019              4.000000
9815              13          9  2019              5.000000
12812             13         10  2019              6.375000
14309             13         11  2019              4.727273
16078             13         12  2019              6.222222
19178             13          1  2020             26.888889
20483             13          2  2020              3.400000
21969             13          3  2020              1.625000
24218             13          4  2020              4.000000
26309             13          5  2020              7.125000
28974             13          6  2020              2.125000
30330             13          7  2020              1.250000
32086             13          8  2020              4.000000
34076             13          9  2020              3.100000
36067             13         10  2020              8.000000
38096             13         11  2020              7.500000
18051             13         12  2020              7.500000
59                14          2  2019                   NaN
204               14          3  2019              1.857143
1501              14          4  2019              4.857143
3041              14          5  2019              7.000000
4204              14          6  2019              2.400000
5836              14          7  2019              2.166667
8316              14          8  2019              2.076923
11545             14          9  2019              6.368421
13475             14         10  2019             11.000000

In [63]:
# training_data = training_data.merge(family_monthly_visits, on=['household_key','month_num','year'], how='left')


# training_data.shape

## 11. Week days shopping proportion

In [64]:
# # This code block was supposed to re-calculate the day and time of day proportions 
# # by only using the previous weeks. But it took too long so I used to overall ones. 
# # can be done in the future


# hh_key_list = family_analysis['household_key'].drop_duplicates().tolist()

# big_list = []
# for family in hh_key_list:
#     new_row = [family]
#     family_df = family_analysis[family_analysis['household_key']==family]
    
#     percentage_list = daily_shopping_percentages(family_df)
#     new_row = new_row + percentage_list
#     big_list.append(new_row)
    
# daily_visit_percentages = pd.DataFrame(columns = ['household_key', 'Monday %','Tuesday %','Wednesday %',' Thursday %','Friday %','Saturday %','Sunday %','morning %', 'afternoon %', 'evening %'], data=big_list)


# shopping_days = df_transactions[['household_key','DAY','WEEK_NO','BASKET_ID']].drop_duplicates()

# shopping_days['weekday'] = shopping_days['DAY'].apply(add_week_day_names)

# shopping_days = shopping_days.groupby(['household_key','WEEK_NO','weekday'])['BASKET_ID'].count().reset_index()

# shopping_days.sort_values(['household_key','WEEK_NO']).head(20)

In [65]:
family_stats = pd.read_csv('shopping habits of families.csv')
family_stats.drop(['Unnamed: 0','weekly_avg_spending_groceries','weekly_avg_spending_fuel','average_visits_per_week'],axis=1,inplace=True)
print(family_stats.shape)
family_stats.head()

(2500, 31)

,household_key,BAG SNACKS | POTATO CHIPS,BAG SNACKS | TORTILLA/NACHO CHIPS,BAKED BREAD/BUNS/ROLLS | MAINSTREAM WHEAT/MULTIGRAIN BR,BAKED BREAD/BUNS/ROLLS | MAINSTREAM WHITE BREAD,BAKED SWEET GOODS | SNACK CAKE - MULTI PACK,BEERS/ALES | BEERALEMALT LIQUORS,CANDY - CHECKLANE | CANDY BARS (SINGLES)(INCLUDING,CHEESE | SHREDDED CHEESE,COLD CEREAL | KIDS CEREAL,FLUID MILK PRODUCTS | FLUID MILK WHITE ONLY,FRZN MEAT/MEAT DINNERS | FRZN SS PREMIUM ENTREES/DNRS/N,FRZN MEAT/MEAT DINNERS | SS ECONOMY ENTREES/DINNERS ALL,FRZN VEGETABLE/VEG DSH | FRZN BAGGED VEGETABLES - PLAIN,REFRGRATD JUICES/DRNKS | DAIRY CASE 100% PURE JUICE - O,SOFT DRINKS | SFT DRNK 2 LITER BTL CARB INCL,SOFT DRINKS | SFT DRNK SNGL SRV BTL CARB (EX,SOFT DRINKS | SOFT DRINKS 12/18&15PK CAN CAR,SOUP | CONDENSED SOUP,TROPICAL FRUIT | BANANAS,YOGURT | YOGURT NOT MULTI-PACKS,Monday %,Tuesday %,Wednesday %,Thursday %,Friday %,Saturday %,Sunday %,morning %,afternoon %,evening %
0,1,0.232258,0.000000,0.188119,0.000000,0.006211,0.000000,0.000000,0.089888,0.000000,0.186916,0.0,0.000000,0.027778,0.500000,0.000000,0.000000,0.060071,0.171642,0.246988,0.000000,0.073538,0.187609,0.264042,0.132021,0.220035,0.044007,0.078749,0.285466,0.627678,0.086856
1,2,0.025806,0.010638,0.009901,0.049180,0.012422,0.005714,0.000000,0.016854,0.000000,0.093458,0.0,0.000000,0.007937,0.066667,0.022113,0.005814,0.106007,0.000000,0.024096,0.010331,0.063025,0.029412,0.138655,0.245098,0.120448,0.141457,0.261905,0.078431,0.333333,0.588235
2,3,0.096774,0.074468,0.000000,0.098361,0.099379,0.000000,0.045549,0.005618,0.048544,0.074766,0.0,0.049327,0.000000,0.055556,0.122850,0.008721,0.017668,0.097015,0.054217,0.000000,0.129207,0.216069,0.106406,0.192182,0.071661,0.279045,0.005429,0.013029,0.694897,0.292074
3,4,0.070968,0.031915,0.000000,0.060109,0.018634,0.000000,0.002070,0.039326,0.019417,0.009346,0.0,0.013453,0.000000,0.000000,0.000000,0.000000,0.007067,0.000000,0.000000,0.000000,0.176080,0.136213,0.000000,0.192691,0.023256,0.106312,0.365449,0.116279,0.514950,0.368771
4,5,0.000000,0.085106,0.000000,0.005464,0.000000,0.003810,0.000000,0.016854,0.000000,0.018692,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.171171,0.040541,0.009009,0.135135,0.063063,0.175676,0.405405,0.000000,0.333333,0.666667

## 13. demographics

In [66]:
df_demographics = pd.read_csv('dunnhumby-the-complete-journey/hh_demographic.csv')

def house_structure(composition):
    if 'Single' in composition:
        return 1, 0
    elif 'No' in composition:
        return 2, 0
    elif 'No' not in composition and composition != 'Unknown':
        return 2, 1
    else:
        return None, None

df_demographics['Adults'], df_demographics['Child Boolean'] = zip(*df_demographics['HH_COMP_DESC'].apply(house_structure))
                
df_demographics['KID_CATEGORY_DESC'] = df_demographics['KID_CATEGORY_DESC'].apply(lambda x: 3 if x == '3+' else x)
df_demographics['KID_CATEGORY_DESC'] = df_demographics['KID_CATEGORY_DESC'].apply(lambda x: 0 if x == 'None/Unknown' else int(x))

df_demographics['HOUSEHOLD_SIZE_DESC'] = df_demographics['HOUSEHOLD_SIZE_DESC'].apply(lambda x: 5 if x == '5+' else int(x))

df_demographics['HH_COMP_DESC'] = df_demographics['HH_COMP_DESC'].apply(lambda x: None if x == 'Unknown' else x)

df_demographics['HOMEOWNER_DESC'] = df_demographics['HOMEOWNER_DESC'].apply(lambda x: None if x == 'Unknown' else x)
df_demographics.drop('HH_COMP_DESC',axis=1,inplace=True)

df_demographics['Adults'] = df_demographics['Adults'].astype(float)

print(df_demographics.shape)
df_demographics.head()

(801, 9)

,AGE_DESC,MARITAL_STATUS_CODE,INCOME_DESC,HOMEOWNER_DESC,HOUSEHOLD_SIZE_DESC,KID_CATEGORY_DESC,household_key,Adults,Child Boolean
0,65+,A,35-49K,Homeowner,2,0,1,2.0,0
1,45-54,A,50-74K,Homeowner,2,0,7,2.0,0
2,25-34,U,25-34K,None,3,1,8,2.0,1
3,25-34,U,75-99K,Homeowner,4,2,13,2.0,1
4,45-54,B,50-74K,Homeowner,1,0,16,1.0,0

In [67]:
df_demographics.dtypes

AGE_DESC                object
MARITAL_STATUS_CODE     object
INCOME_DESC             object
HOMEOWNER_DESC          object
HOUSEHOLD_SIZE_DESC      int64
KID_CATEGORY_DESC        int64
household_key            int64
Adults                 float64
Child Boolean           object
dtype: object

In [ ]:
# training_data = training_data.merge(df_demographics, on=['household_key'], how='left')


# training_data.shape

In [126]:
training_data = df_transactions[['household_key','WEEK_NO']].drop_duplicates()
training_data = every_week_every_household.copy()
training_data = training_data.merge(week_month_lookup, on='WEEK_NO')
training_data['year'] = training_data['WEEK_NO'].apply(lambda x: 2019 if x<45 else 2020 )
print(training_data.shape)
training_data.head()

(255000, 6)

   WEEK_NO  household_key  SALES_VALUE  QUANTITY  month_num  year
0        1              1          0.0       0.0          2  2019
1        1              2          0.0       0.0          2  2019
2        1              3          0.0       0.0          2  2019
3        1              4          0.0       0.0          2  2019
4        1              5          0.0       0.0          2  2019

In [117]:
#5. number of days since last shopping
training_data = training_data.merge(previous_visit_day, on=['household_key','WEEK_NO'], how='left')

#4. number of weeks since last shopping
training_data = training_data.merge(transactions_prev_visit, on=['household_key','WEEK_NO'], how='left')

print(training_data.shape)
training_data.head()

(255000, 12)

,WEEK_NO,household_key,SALES_VALUE,QUANTITY_x,month_num,year,DAY,last_shopping_day,days_since_last_shopping,QUANTITY_y,last_shopping_week,weeks_since_last_shopping
0,1,1,0.0,0.0,2,2019,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,0.0,0.0,2,2019,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,0.0,0.0,2,2019,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,0.0,0.0,2,2019,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,0.0,0.0,2,2019,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
#13. demographics
training_data = training_data.merge(df_demographics, on=['household_key'], how='left')

training_data = training_data.merge(family_stats, on='household_key', how='left')

#10. average visits per month
training_data = training_data.merge(family_monthly_visits, on=['household_key','month_num','year'], how='left')

#9. average visits per week
training_data = training_data.merge(family_weekly_visits, on=['household_key','WEEK_NO'], how='left')

#8. weighted mean of previous week spendings
training_data = training_data.merge(weighted_avg, on=['household_key','WEEK_NO'], how='left')

#7. average spent weekly on previous weeks (with actual week count)
training_data = training_data.merge(mean_r, on=['household_key','WEEK_NO'], how='left')
training_data = training_data.merge(std_r, on=['household_key','WEEK_NO'], how='left')
training_data = training_data.merge(var_r, on=['household_key','WEEK_NO'], how='left')
training_data = training_data.merge(quan25_r, on=['household_key','WEEK_NO'], how='left')
training_data = training_data.merge(quan50_r, on=['household_key','WEEK_NO'], how='left')
training_data = training_data.merge(quan75_r, on=['household_key','WEEK_NO'], how='left')

#6. average spent weekly on previous weeks (only weeks existent in data)
training_data = training_data.merge(mean, on=['household_key','WEEK_NO'], how='left')
training_data = training_data.merge(std, on=['household_key','WEEK_NO'], how='left')
training_data = training_data.merge(var, on=['household_key','WEEK_NO'], how='left')
training_data = training_data.merge(quan25, on=['household_key','WEEK_NO'], how='left')
training_data = training_data.merge(quan50, on=['household_key','WEEK_NO'], how='left')
training_data = training_data.merge(quan75, on=['household_key','WEEK_NO'], how='left')

#5. number of days since last shopping
training_data = training_data.merge(previous_visit_day, on=['household_key','WEEK_NO'], how='left')

#4. number of weeks since last shopping
training_data = training_data.merge(transactions_prev_visit, on=['household_key','WEEK_NO'], how='left')

#3. amount spent on previous week in time (might be 0)
training_data = training_data.merge(big_df_aggregated, on=['household_key','WEEK_NO'], how='left')

#2. amount spent on previous shopping week
training_data = training_data.merge(transactions_weekly_aggregated_prev, on=['household_key','WEEK_NO'], how='left')

#1. month, season, circular month
training_data = training_data.merge(month_season_lookup_table, on='WEEK_NO', how='left')

print(training_data.shape)
training_data.head()

(255000, 72)

,WEEK_NO,household_key,SALES_VALUE,QUANTITY,month_num,year,AGE_DESC,MARITAL_STATUS_CODE,INCOME_DESC,HOMEOWNER_DESC,HOUSEHOLD_SIZE_DESC,KID_CATEGORY_DESC,Adults,Child Boolean,BAG SNACKS | POTATO CHIPS,BAG SNACKS | TORTILLA/NACHO CHIPS,BAKED BREAD/BUNS/ROLLS | MAINSTREAM WHEAT/MULTIGRAIN BR,BAKED BREAD/BUNS/ROLLS | MAINSTREAM WHITE BREAD,BAKED SWEET GOODS | SNACK CAKE - MULTI PACK,BEERS/ALES | BEERALEMALT LIQUORS,CANDY - CHECKLANE | CANDY BARS (SINGLES)(INCLUDING,CHEESE | SHREDDED CHEESE,COLD CEREAL | KIDS CEREAL,FLUID MILK PRODUCTS | FLUID MILK WHITE ONLY,FRZN MEAT/MEAT DINNERS | FRZN SS PREMIUM ENTREES/DNRS/N,FRZN MEAT/MEAT DINNERS | SS ECONOMY ENTREES/DINNERS ALL,FRZN VEGETABLE/VEG DSH | FRZN BAGGED VEGETABLES - PLAIN,REFRGRATD JUICES/DRNKS | DAIRY CASE 100% PURE JUICE - O,SOFT DRINKS | SFT DRNK 2 LITER BTL CARB INCL,SOFT DRINKS | SFT DRNK SNGL SRV BTL CARB (EX,SOFT DRINKS | SOFT DRINKS 12/18&15PK CAN CAR,SOUP | CONDENSED SOUP,TROPICAL FRUIT | BANANAS,YOGURT | YOGURT NOT MULTI-PACKS,Monday %,Tuesday %,Wednesday %,Thursday %,Friday %,Saturday %,Sunday %,morning %,afternoon %,evening %,avg_visits_per_month,avg_visits_per_week,weighted_avg,avg_spending_previous_weeks_real_time,std_spending_previous_weeks_real_time,var_spending_previous_weeks_real_time,quan25_spending_previous_weeks_real_time,quan50_spending_previous_weeks_real_time,quan75_spending_previous_weeks_real_time,avg_spending_previous_weeks,std_spending_previous_weeks,var_spending_previous_weeks,quan25_spending_previous_weeks,quan50_spending_previous_weeks,quan75_spending_previous_weeks,DAY,last_shopping_day,days_since_last_shopping,last_shopping_week,weeks_since_last_shopping,amount_spent_last_week,quantity_bought_last_week,previous_amount_spent,previous_quantity,month,season,month_x,month_y
0,1,1,0.0,0.0,2,2019,65+,A,35-49K,Homeowner,2.0,0.0,2.0,0,0.232258,0.000000,0.188119,0.000000,0.006211,0.000000,0.000000,0.089888,0.000000,0.186916,0.0,0.000000,0.027778,0.500000,0.000000,0.000000,0.060071,0.171642,0.246988,0.000000,0.073538,0.187609,0.264042,0.132021,0.220035,0.044007,0.078749,0.285466,0.627678,0.086856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,February,winter,0.866223,-0.499658
1,1,2,0.0,0.0,2,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.025806,0.010638,0.009901,0.049180,0.012422,0.005714,0.000000,0.016854,0.000000,0.093458,0.0,0.000000,0.007937,0.066667,0.022113,0.005814,0.106007,0.000000,0.024096,0.010331,0.063025,0.029412,0.138655,0.245098,0.120448,0.141457,0.261905,0.078431,0.333333,0.588235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,February,winter,0.866223,-0.499658
2,1,3,0.0,0.0,2,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.096774,0.074468,0.000000,0.098361,0.099379,0.000000,0.045549,0.005618,0.048544,0.074766,0.0,0.049327,0.000000,0.055556,0.122850,0.008721,0.017668,0.097015,0.054217,0.000000,0.129207,0.216069,0.106406,0.192182,0.071661,0.279045,0.005429,0.013029,0.694897,0.292074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,February,winter,0.866223,-0.499658
3,1,4,0.0,0.0,2,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.070968,0.031915,0.000000,0.060109,0.018634,0.000000,0.002070,0.039326,0.019417,0.009346,0.0,0.013453,0.000000,0.000000,0.000000,0.000000,0.007067,0.000000,0.000000,0.000000,0.176080,0.136213,0.000000,0.192691,0.023256,0.106312,0.365449,0.116279,0.514950,0.368771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,February,winter,0.866223,-0.499658
4,1,5,0.0,0.0,2,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.085106,0.000000,0.005464,0.000000,0.003810,0.000000,0.016854,0.000000,0.018692,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.171171,0.040541,0.009009,0.135135,0.063063,0.175676,0.405405,0.000000,0.333333,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,February,winter,0.866223,-0.499658

In [128]:
training_data.dtypes

WEEK_NO                                                      int64
household_key                                                int64
SALES_VALUE                                                float64
QUANTITY                                                   float64
month_num                                                    int64
year                                                         int64
AGE_DESC                                                    object
MARITAL_STATUS_CODE                                         object
INCOME_DESC                                                 object
HOMEOWNER_DESC                                              object
HOUSEHOLD_SIZE_DESC                                        float64
KID_CATEGORY_DESC                                          float64
Adults                                                     float64
Child Boolean                                               object
BAG SNACKS | POTATO CHIPS                                  float64
BAG SNACKS | TORTILLA/NACHO CHIPS                          float64
BAKED BREAD/BUNS/ROLLS | MAINSTREAM WHEAT/MULTIGRAIN BR    float64
BAKED BREAD/BUNS/ROLLS | MAINSTREAM WHITE BREAD            float64
BAKED SWEET GOODS | SNACK CAKE - MULTI PACK                float64
BEERS/ALES | BEERALEMALT LIQUORS                           float64
CANDY - CHECKLANE | CANDY BARS (SINGLES)(INCLUDING         float64
CHEESE | SHREDDED CHEESE                                   float64
COLD CEREAL | KIDS CEREAL                                  float64
FLUID MILK PRODUCTS | FLUID MILK WHITE ONLY                float64
FRZN MEAT/MEAT DINNERS | FRZN SS PREMIUM ENTREES/DNRS/N    float64
FRZN MEAT/MEAT DINNERS | SS ECONOMY ENTREES/DINNERS ALL    float64
FRZN VEGETABLE/VEG DSH | FRZN BAGGED VEGETABLES - PLAIN    float64
REFRGRATD JUICES/DRNKS | DAIRY CASE 100% PURE JUICE - O    float64
SOFT DRINKS | SFT DRNK 2 LITER BTL CARB INCL               float64
SOFT DRINKS | SFT DRNK SNGL SRV BTL CARB (EX               float64
SOFT DRINKS | SOFT DRINKS 12/18&15PK CAN CAR               float64
SOUP | CONDENSED SOUP                                      float64
TROPICAL FRUIT | BANANAS                                   float64
YOGURT | YOGURT NOT MULTI-PACKS                            float64
Monday %                                                   float64
Tuesday %                                                  float64
Wednesday %                                                float64
Thursday %                                                 float64
Friday %                                                   float64
Saturday %                                                 float64
Sunday %                                                   float64
morning %                                                  float64
afternoon %                                                float64
evening %                                                  float64
avg_visits_per_month                                       float64
avg_visits_per_week                                        float64
weighted_avg                                               float64
avg_spending_previous_weeks_real_time                      float64
std_spending_previous_weeks_real_time                      float64
var_spending_previous_weeks_real_time                      float64
quan25_spending_previous_weeks_real_time                   float64
quan50_spending_previous_weeks_real_time                   float64
quan75_spending_previous_weeks_real_time                   float64
avg_spending_previous_weeks                                float64
std_spending_previous_weeks                                float64
var_spending_previous_weeks                                float64
quan25_spending_previous_weeks                             float64
quan50_spending_previous_weeks                             float64
quan75_spending_previous_weeks                             float64
DAY                                                        float64
last_shopping_day                                          float64
days_since_last_shopping                                   float64
last_shopping_week                                         float64
weeks_since_last_shopping                                  float64
amount_spent_last_week                                     float64
quantity_bought_last_week                                  float64
previous_amount_spent                                      float64
previous_quantity                                          float64
month                                                       object
season                                                      object
month_x                                                    float64
month_y                                                    float64
dtype: object

In [129]:
# training_data.to_csv('data_with_features_every_week.csv')

In [4]:
def add_month_names(day):
    day_number = day%340
    if day_number<10:
        return 'February'
    elif day_number<40:
        return 'March'
    elif day_number<70:
        return 'April'
    elif day_number<100:
        return 'May'
    elif day_number<130:
        return 'June'
    elif day_number<160:
        return 'July'
    elif day_number<190:
        return 'August'
    elif day_number<220:
        return 'September'
    elif day_number<250:
        return 'October'
    elif day_number<280:
        return 'November'
    elif day_number<310:
        return 'December'
    elif day_number<340:
        return 'January'
    
def add_month_nums(day):
    day_number = day%340
    if day_number<10:
        return 2
    elif day_number<40:
        return 3
    elif day_number<70:
        return 4
    elif day_number<100:
        return 5
    elif day_number<130:
        return 6
    elif day_number<160:
        return 7
    elif day_number<190:
        return 8
    elif day_number<220:
        return 9
    elif day_number<250:
        return 10
    elif day_number<280:
        return 11
    elif day_number<310:
        return 12
    elif day_number<340:
        return 1
    
def add_week_day_names(day):
    day_number = day%7
    if day_number==1:
        return 'Tuesday'
    elif day_number==2:
        return 'Wednesday'
    elif day_number==3:
        return 'Thursday'
    elif day_number==4:
        return 'Friday'
    elif day_number==5:
        return 'Saturday'
    elif day_number==6:
        return 'Sunday'
    elif day_number==0:
        return 'Monday'
    
def add_week_day_nums(day):
    day_number = day%7
    if day_number==1:
        return 2
    elif day_number==2:
        return 3
    elif day_number==3:
        return 4
    elif day_number==4:
        return 5
    elif day_number==5:
        return 6
    elif day_number==6:
        return 7
    elif day_number==0:
        return 8
    
    
def get_season(month):
    if month == 'December' or month == 'January' or month == 'February':
        return 'winter'
    elif month == 'March' or month == 'April' or month == 'May':
        return 'spring'
    elif month == 'June' or month == 'July' or month == 'August':
        return 'summer'
    elif month == 'September' or month == 'October' or month == 'November':
        return 'fall'
    
    
def getxy(hour):
    x = math.sin((180 - hour * 15)/180 * 3.141)
    y = math.cos((180 - hour * 15)/180 * 3.141)
    return x, y